*.tws
.Rproj.user
_notes
.DS_Store
.Rhistory

#temporary script
*-Ex.R

# TCGA data file
GDCdata/
MANIFEST.TXT
inst/doc

# ignore random scripts
R/clinical_recoding.R
R/load_data.R
R/packages.R
R/pipelines.R 
R/upstream_funcs.R 

R-4.0.0.pkg

# R data frames containing all data for quick access
data/
