*.tws
.Rproj.user
_notes
.DS_Store
.Rhistory
.RData
.Rproj.user/
curatedPCaData.Rproj

#temporary script
*-Ex.R

# TCGA data file
GDCdata/
MANIFEST.TXT
inst/doc

# ignore random scripts
R/clinical_recoding.R
R/load_data.R
R/packages.R
R/pipelines.R 
R/upstream_funcs.R 

# Temporary Excel data listings
data-raw/prostate_experiment_summaries_JC_ST.xlsx
data-raw/prostate_experiment_summaries_JC_ST_TDL.xlsx

R-4.0.0.pkg

# Ignore R Sweave to PDF pipeline intermediary filetypes
*.aux
*.log
*.tex
*.toc
# SVG-figures are sizeable albeit readable as plaintext, exclude for now
*.svg

# Temporary files
temp/
data-raw/venns.pdf
